In [2]:
import os
import csv
import pandas as pd

In [3]:
data_file1 = "Resources/Table 43a Full-time Equivalent Students, 2006-2020 (5).csv"

In [4]:
data_file1_df = pd.read_csv(data_file1)
data_file1_df.head(100)

,Year,State/Territory,Affiliation (Gov/Non-gov),Affiliation (Gov/Cath/Ind),FT/PT,Sex,School Level,National Report on Schooling (ANR) School Level,Year (Grade),FTE Aboriginal and Torres Strait Islander Students,FTE Non-Indigenous Students,FTE All Students
0,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),3102.0,33669.0,36771.0
1,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,b Year 1,3153.0,33636.0,36789.0
2,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,c Year 2,3106.0,34483.0,37589.0
3,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,d Year 3,2969.0,33682.0,36651.0
4,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,e Year 4,2834.0,33465.0,36299.0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,b Junior Secondary School,m Year 10,284.0,7728.0,8012.0
96,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,b Junior Secondary School,p Ungraded secondary,27.0,132.0,159.0
97,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,c Senior Secondary School,n Year 11,167.0,6788.0,6955.0
98,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,c Senior Secondary School,o Year 12,137.0,6340.0,6477.0
99,2020,a NSW,b Non-government,c Independent,b Part-time,a Male,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),0.0,16.3,16.3

In [5]:
data_file1_df.describe()

,FTE Aboriginal and Torres Strait Islander Students,FTE Non-Indigenous Students,FTE All Students
count,14143.000000,14143.00000,14143.000000
mean,197.264852,3680.44878,3877.713632
std,447.751865,6268.03617,6637.495635
min,0.000000,0.00000,0.100000
25%,1.400000,25.00000,28.800000
50%,28.000000,708.00000,955.000000
75%,148.000000,5000.00000,5140.500000
max,3153.000000,34490.00000,37589.000000

In [6]:
data_file1_df.columns

Index(['Year', 'State/Territory', 'Affiliation (Gov/Non-gov)',
       'Affiliation (Gov/Cath/Ind)', 'FT/PT', 'Sex', 'School Level',
       'National Report on Schooling (ANR) School Level', 'Year (Grade)',
       'FTE Aboriginal and Torres Strait Islander Students ',
       'FTE Non-Indigenous Students ', 'FTE All Students '],
      dtype='object')

In [7]:
data_file1_df["State/Territory"].head()

0    a NSW
1    a NSW
2    a NSW
3    a NSW
4    a NSW
Name: State/Territory, dtype: object

In [8]:
data_file1_df["State/Territory"].unique()

array(['a NSW', 'b Vic.', 'c Qld', 'd SA', 'e WA', 'f Tas.', 'g NT',
       'h ACT', nan], dtype=object)

In [9]:
data_file1_df["State/Territory"].value_counts()

b Vic.    2409
c Qld     2124
d SA      1870
a NSW     1716
f Tas.    1559
g NT      1544
e WA      1544
h ACT     1377
Name: State/Territory, dtype: int64

In [10]:
data_file1_df["FTE All Students "].head()

0    36771.0
1    36789.0
2    37589.0
3    36651.0
4    36299.0
Name: FTE All Students , dtype: float64

In [12]:
df1 = data_file1_df[["State/Territory", "FTE All Students "]].head()
df1

  State/Territory  FTE All Students
0           a NSW            36771.0
1           a NSW            36789.0
2           a NSW            37589.0
3           a NSW            36651.0
4           a NSW            36299.0

In [ ]:
data_file1_df[]

In [25]:
def remove_prefix(str, prefix):
    if str.startswith(a):
        return str[len(prefix):]
    return str
for x in data_file1_df.columns:
    x.remove_prefix()

AttributeError: 'str' object has no attribute 'remove_prefix'